@model IEnumerable<Bachelor_Gr4_Chatbot_MVC.Models.ChatViewModels.ChatOpeningHoursViewModel>

@{
    ViewData["Title"] = "OpeningHours";
}

<div id="wrapper">

    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">


                    <h2>Åpningstider</h2>

                    <p>
                        <a asp-action="RegisterOpeningHours">Registrer ny åpningstid</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpeningHoursId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.WeekDay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateFrom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateTo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpenFrom)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpenTo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsStandard)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpeningHoursId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WeekDay)
                                    </td>
                                    <td>
                                    @if(!item.IsStandard)
                                    {
                                        @Html.DisplayFor(modelItem => item.DateFrom)
                                    }
                                    </td>
                                    <td>
                                    @if (!item.IsStandard)
                                    {
                                        @Html.DisplayFor(modelItem => item.DateTo)
                                    }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpenFrom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpenTo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsStandard)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

@section Scripts{
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}