@model IEnumerable<Bachelor_Gr4_Chatbot_MVC.Models.ChatbotDetails>

@{
    ViewData["Title"] = "Chatbots";
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Chatbots</h2>

                    <p>
                        <a asp-action="RegisterNewChatbot">Registrer ny chatbot</a>
                    </p>
                    </div>
                </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.chatbotId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.chatbotName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.regDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastEdit)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.chatbotId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.chatbotName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.regDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastEdit)
                                    </td>                                    
                                    <td>
                                        @Html.ActionLink("Endre", "EditChatbotDetails", new { id=item.chatbotId }) |
                                        @Html.ActionLink("Detaljer", "ViewChatbotDetails", new { id = item.chatbotId }) |
                                        @Html.ActionLink("Slett", "DeleteChatbot", new { id = item.chatbotId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
        </div>
    </div>

@section Scripts{
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}
