@model IEnumerable<Bachelor_Gr4_Chatbot_MVC.Models.ChatbotDetails>

@{
    ViewData["Title"] = "Chatbots";
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Chatbots</h2>
                    
                    @Html.ActionLink("Registrer ny chatbot", "RegisterNewChatbot", "Administrator", null, new { @class = "btn btn-success btn-large" })
                    
                    </div>
                </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th hidden>
                                    @Html.DisplayNameFor(model => model.chatbotId)
                                </th>
                                <th>
                                    Chatbot
                                </th>
                                <th>
                                    Registrert dato
                                </th>
                                <th>
                                    Sist endret/oppdatert
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.chatbotId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.chatbotName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.regDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastEdit)
                                    </td> 
                                    <td>
                                        @if (item.isActive)
                                        {
                                            <p style="color:green;">Aktiv</p>

                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Se detaljer for bot", "ViewChatbotDetails", new { id = item.chatbotId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
        </div>
    </div>

@section Scripts{
    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}
