@model Bachelor_Gr4_Chatbot_MVC.Models.User
@{
    ViewData["Title"] = "ManageUser";
}
<div id="wrapper">

    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2>Behandle bruker @Model.Username</h2>
                    <h4>Under vises all relevant informasjon om @Model.Username</h4>
                </div>
                <div class="col-md-2">
                    <img src="~/images/bot-help.jpg" style="float:right;max-height:100px;max-width:100px;" />
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="display:inline-block;">
                        @Html.ActionLink("Deaktiver konto", "", "Administrator", new { id = Model.Username }, new { @class = "btn btn-danger" })

                        @Html.ActionLink("Gi admin rettigheter", "", "Administrator", new { id = Model.Username }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-user fa-fw"></i> Bruker-detaljer</div>
                        <div class="panel-body">
                            <div class="col-md-10">
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Username)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Username)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Active)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Active)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-2">
                                <p>@Html.ActionLink("Deaktiver konto", "", "Administrator", new { id = Model.Username }, new { @class = "btn btn-danger" })</p>

                                <p>@Html.ActionLink("Gi admin rettigheter", "", "Administrator", new { id = Model.Username }, new { @class = "btn btn-success" })</p>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
            
            <hr />

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">Something something</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>



            <hr />
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="ManageUser">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" hidden>
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Oppdater</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

@section Scripts{
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}