@model IEnumerable<Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnABaseClass>

    @{
    ViewData["Title"] = "QnABots";
    }


    <div id="wrapper">

        @await Html.PartialAsync("_Navbar_admin")

        <!-- Page Content -->
        <div id="page-wrapper">

            <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="row">

                        <h2>QnABots</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <a asp-action="Create">Create New</a>
                            </p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QnAId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.chatbotName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.regDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.lastEdit)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.subscriptionKey)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.knowledgeBaseID)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QnAId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.chatbotName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.regDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.lastEdit)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.subscriptionKey)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.knowledgeBaseID)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>
                                        </tr>
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts{

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}