@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAKnowledgeBase

@{
    ViewData["Title"] = "Svarta Bjørn | Detaljer for kunnskapsbase " + @Model.QnAKnowledgeName;
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2>Detaljer for kunnskapsbase @Model.QnAKnowledgeName</h2>

                    <h4>Registrert: @Model.RegDate.ToString(string.Format("dd/MM/yyyy")) | Sist oppdatert/verifisert: @Model.LastEdit.ToString(string.Format("dd/MM/yyyy hh:mm"))</h4>
                </div>
                <div class="col-md-2">
                    <img src="~/images/bot-help.jpg" style="float:right;max-height:100px;max-width:100px;" />
                </div>
                
            </div>
            <hr />
            <div class="row">
               
                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.QnAPairsToPublish</div>
                                    <div>QnA par til publisering!</div>
                                </div>
                            </div>
                        </div>
                        <a asp-action="ViewUnPublishedQnAPairs/@Model.QnAKnowledgeBaseId">
                            <div class="panel-footer">
                                <span class="pull-left">Publiser</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@Model.QnAPairsPublished</div>
                                    <div>QnA par er publisert!</div>
                                </div>
                            </div>
                        </div>
                        <a asp-action="ViewPublishedQnAPairs/@Model.QnAKnowledgeBaseId">
                            <div class="panel-footer">
                                <span class="pull-left">Se over</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                    @*<div class="col-md-12">
                        <form asp-action="QnABaseDetails">
                            <div class="form-group">
                                <label asp-for="QnAKnowledgeName" class="control-label"></label>
                                <input asp-for="QnAKnowledgeName" class="form-control" disabled/>
                                <span asp-validation-for="QnAKnowledgeName" class="text-danger"></span>
                            </div>
                        </form>
                        <div class="form-group">
                            <input type="submit" value="Oppdater" class="btn btn-success" />
                        </div>
                    </div>*@
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activateModal">
                        Aktiver Chatbot
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#verifyDbModal">
                        Verifiser kunnskapsbase
                    </button>                   
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        Slett Chatbot
                    </button>
                    @Html.ActionLink("Tilbake til bot-detaljer", "QnABotDetails", new { id = Model.QnABotId }, new { @class = "btn btn-warning btn-large" })
                </div>
            </div>
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Kunnskapsbase id hos QnAMaker.ai</h3>
                </div>
                <div class="panel-body">
                    <div class="well well-sm">
                        <div class="form-group">                          
                            <p>@Model.KnowledgeBaseID</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Url'er som benyttes</h3>
                </div>
                <div class="panel-body">
                    <div class="well well-lg">
                        <div class="form-group">
                            <label asp-for="RequestUrl" class="control-label"></label>
                            <p>@Model.RequestUrl</p>

                        </div>
                        <div class="form-group">
                            <label asp-for="AskQuestionUrl" class="control-label"></label>
                            <p>@Model.AskQuestionUrl</p>

                        </div>
                        <div class="form-group">
                            <label asp-for="TrainknowledgeBaseUrl" class="control-label"></label>
                            <p>@Model.TrainknowledgeBaseUrl</p>

                        </div>
                        <div class="form-group">
                            <label asp-for="PublishKnowledgeBaseUrl" class="control-label"></label>
                            <p>@Model.PublishKnowledgeBaseUrl</p>

                        </div>
                        <div class="form-group">
                            <label asp-for="UpdateKnowledgeBaseUrl" class="control-label"></label>
                            <p>@Model.UpdateKnowledgeBaseUrl</p>

                        </div>
                        <div class="form-group">
                            <label asp-for="CreateNewQnAKnowledgeBase" class="control-label"></label>
                            <p>@Model.CreateNewQnAKnowledgeBase</p>

                        </div>
                    </div>
                </div>
            </div>

            <div>
                @Html.ActionLink("Tilbake til bot", "QnABotDetails", new { id = Model.QnABotId })
                
            </div>
        </div>
    </div>
</div>



@if (Model.IsActive)
{

    <!-- Modal Activate if active -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="activateModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Denne kunnskapsbasen er allerede aktiv og benyttes av chatboten!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete if active-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Denne kunnskapsbasen er i bruk og du kan derfor ikke slette den. Ønsker du å slette denne kunnskapsbasen må du først
                    aktivere en annen kunnskapsbase som kan besvare chat.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Aktiver en annen kunnskapsbase", "QnABotDetails", "Administrator", new { id = Model.QnABotId }, new { @class = "btn btn-warning btn-large" })
                </div>
            </div>
        </div>
    </div>

}
else
{
    <!-- Modal Activate -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="activateModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Om du aktiverer denne chatboten vil alle chat-samtaler bli routet til denne chatboten. Er du sikker på at det er det du ønsker?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Aktiver QnABase", "RegisterNewQnaBotAsync", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-success btn-large" })
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Om du velger å slette denne chatboten vil all data slettes.
                    Dette inkluderer spørsmål og svar som er lagret og data fra samtaler gjennomført med denne kunnskapsbasen.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Slett QnA Base", "DeleteQnAKnowledgeBaseByIdAsync", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-danger btn-large" })
                </div>
            </div>
        </div>
    </div>

}


<!-- Modal Verify Db -->
<div class="modal fade" id="verifyDbModal" tabindex="-1" role="dialog" aria-labelledby="verifyDbModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="verifyDbModalLabel">
                    Er du sikker?
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                Ønsker du å verifisere databasen? Det som da skjer er at vi kontakter chatboten og henter alle spørsmål og svar par som er i bruk.
                Disse matches så mot det som er lagret i lokal database. De parrene som mangler legges så til.
                Denne funksjonen finnes grunnet det kan legges til par gjennom QnAMaker.ai sin side også.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                @Html.ActionLink("Verifiser kunnskapsbase", "VerifyLocalKnowledgeBaseToOnlineKnowledgeBase", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>



@section Scripts{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}