@model Bachelor_Gr4_Chatbot_MVC.Models.ChatbotDetails

@{
    ViewData["Title"] = "Svarta Bjørn | Detaljer for " + @Html.DisplayFor(model => model.chatbotName);
}
<div id="wrapper">

    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-8">
                        <h2>Detaljer for @Html.DisplayFor(model => model.chatbotName)</h2>
                        @if (Model.isActive)
                        {
                            <p style="color:green;">Denne chatboten er aktiv!</p>

                        }
                        else
                        {
                            <p style="color:red;">Denne chatboten er ikke aktiv!</p>

                        }
                    </div>
                     <div class="col-md-2 col-md-offset-2">
                         <br />
                         <br />
                         @if (!Model.isActive)
                         {
                             @*@Html.ActionLink("Aktiver Chatbot", "ActivateBot", "Administrator", new { id = Model.chatbotId }, new { @class = "btn btn-success" })*@
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activateModal" style="margin-top:5px;">
                                Aktiver Chatbot
                            </button>

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" style="margin-top:5px;">
                                Slett Chatbot  
                            </button>


                         }
                         else
                         {
                             <p>For å slette denne chatboten må du først aktivere en annen chatbot.</p>

                         }
                     </div>  
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-10">
                        <dl class="dl-horizontal">
                            <dt hidden>
                                @Html.DisplayNameFor(model => model.chatbotId)
                            </dt>
                            <dd hidden>
                                @Html.DisplayFor(model => model.chatbotId)
                            </dd>
                            <dt>
                                Registrert
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.regDate)
                            </dd>
                            <dt>
                                Sist endret/oppdatert
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.lastEdit)
                            </dd>
                        </dl>

                        <h4>API detaljer</h4>
                        <dl class="dl-horizontal">
                            <dt>
                                Content-Type
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.contentType)
                            </dd>
                            <dt>
                                Bot Secret
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BotSecret)
                            </dd>
                            <dt>
                                Token Authorize Scheme
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.botAutorizeTokenScheme)
                            </dd>
                            <dt>
                                Base Url
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.baseUrl)
                            </dd>
                            <dt>
                                Token Url
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.tokenUrlExtension)
                            </dd>
                            <dt>
                                Chat Url
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.conversationUrlExtension)
                            </dd>
                            <dt>
                                Chat Url Ending
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.conversationUrlExtensionEnding)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-2">
                        <img src="~/images/bot-help.jpg" style="float:right;max-height:250px;max-width:250px;" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Endre innstillinger", "EditChatbotDetails", "Administrator", new { id = Model.chatbotId }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Tilbake til listen", "Chatbots", "Administrator", null, new { @class = "btn btn-info" })

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">
                    Er du sikker?
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                Om du velger å slette denne chatboten vil all data slettes. Obs - Gjelder kun forbindelsesdata. Samtaledata som er registrert påvirkes ikke.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                @Html.ActionLink("Slett!", "DeleteChatbot", "Administrator", new { id = Model.chatbotId }, new { @class = "btn btn-success btn-large" })
            </div>
        </div>
    </div>
</div>

<!-- Modal Activate -->
<div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="activateModalLabel">
                    Er du sikker?
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                Om du aktiverer denne chatboten vil alle chat-samtaler bli routet til denne chatboten. Er du sikker på at det er det du ønsker?
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                @Html.ActionLink("Aktiver!", "ActivateBot", "Administrator", new { id = Model.chatbotId }, new { @class = "btn btn-success btn-large" })
            </div>
        </div>
    </div>
</div>



@section Scripts{
    
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}