@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAPairsView

@{
    ViewData["Title"] = "Svarta Bjørn | QnA par for kunnskapsbase " + @Model.QnAKnowledgeBaseName;
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-10">
                    <h2>QnA par for kunnskapsbase @Model.QnAKnowledgeBaseName</h2>
                    <h4>Alle trente QnA par som venter publisering</h4>
                </div>
                <div class="col-md-2">
                    <img src="~/images/bot-help.jpg" style="float:right;max-height:100px;max-width:100px;" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-center">
                    @Html.ActionLink("Publiser endringer", "PublishTrainedQnAPairs", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Tilbake til detaljer for kunnskapsbase", "QnABaseDetails", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-warning" })
                </div>
            </div>
            <hr />

            @if (Model.QnAPairs.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                QnAPairsId
                                @*@Html.DisplayNameFor(model => model.QnAPairsId)*@
                            </th>
                            <th>
                                Query
                                @*@Html.DisplayNameFor(model => model.Query)*@
                            </th>
                            <th>
                                Answer
                                @*@Html.DisplayNameFor(model => model.Answer)*@
                            </th>
                            <th>
                                PublishingType
                                @*@Html.DisplayNameFor(model => model.KnowledgeBaseId)*@
                            </th>
                            <th>
                                PublishedDate
                                @*@Html.DisplayNameFor(model => model.PublishedDate)*@
                            </th>
                            <th>
                                TrainedDate
                                @*@Html.DisplayNameFor(model => QnAPairs.TrainedDate)*@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QnAPairs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QnAPairsId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Query)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishingType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrainedDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="col-md-12">
                    <p>Ingenting å vise. Legg til QnA par, kanskje? Link kommer...</p>
                </div>

            }

        </div>
    </div>
</div>
@section Scripts{
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}