@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAPairsView

@{
    ViewData["Title"] = "Svarta Bjørn | Se publiserte QnA Par";
}
@section AddToHead{
    <link href="@Url.Content("~/css/popupChat.css")" rel="stylesheet" type="text/css" />
}
<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <h2>QnA par for kunnskapsbase @Model.QnAKnowledgeBaseName</h2>
                    <h4>Alle publiserte QnA par</h4>
                </div>
                <div class="col-md-2">
                    <img src="~/images/bot-help.jpg" style="float:right;max-height:100px;max-width:100px;" />
                </div>
                
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activateModal">
                        Aktiver Kunnskapsbase
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#verifyDbModal">
                        Verifiser Kunnskapsbase
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                        Slett Kunnskapsbase
                    </button>
                    @Html.ActionLink("Tilbake til detaljer for kunnskapsbase", "QnABaseDetails", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-warning" })
                </div>
            </div>
            <hr />
            @if (Model.QnAPairs.Count > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                Spørsmål
                            </th>
                            <th scope="col">
                                Svar
                            </th>
                            <th scope="col">
                                Område
                            </th>
                            <th scope="col">
                                Trent
                            </th>
                            <th scope="col">
                                Publisert
                            </th>
                            <th scope="col">
                                Publisert dato
                            </th>
                            <th scope="col">
                                Trent dato
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QnAPairs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Query)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dep)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trained)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Published)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrainedDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Slett", "DeleteQnAPair", new { id = item.QnAPairsId }) | 
                                    @Html.ActionLink("Endre", "EditQnAPair", new { id = item.QnAPairsId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="col-md-12">
                    <p>Ingenting å vise. Om du mener at det skal finnes QnA par for denne kunnskapsbasen, trykk @Html.ActionLink("her", "VerifyLocalKnowledgeBaseToOnlineKnowledgeBase", new { id = Model.QnAKnowledgeBaseId }) for å verifisere database.</p>
                </div>

            }
        </div>
    </div>
</div>




@if (Model.IsActive)
{

    <!-- Modal Activate if active -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="activateModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Denne kunnskapsbasen er allerede aktiv og benyttes av chatboten!

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete if active-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Denne kunnskapsbasen er i bruk og du kan derfor ikke slette den. Ønsker du å slette denne kunnskapsbasen må du først
                    aktivere en annen kunnskapsbase som kan besvare chat.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Aktiver en annen kunnskapsbase", "QnABotDetails", "Administrator", new { id = Model.QnAId }, new { @class = "btn btn-warning btn-large" })
                </div>
            </div>
        </div>
    </div>

}
else
{
    <!-- Modal Activate -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="activateModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Om du aktiverer denne chatboten vil alle chat-samtaler bli routet til denne chatboten. Er du sikker på at det er det du ønsker?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Aktiver QnABase", "ActivateQnAKnowledgeBase", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-success btn-large" })
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">
                        Er du sikker?
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                <div class="modal-body">
                    Om du velger å slette denne chatboten vil all data slettes.
                    Dette inkluderer spørsmål og svar som er lagret og data fra samtaler gjennomført med denne kunnskapsbasen.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                    @Html.ActionLink("Slett QnA Base", "DeleteQnAKnowledgeBaseByIdAsync", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-danger btn-large" })
                </div>
            </div>
        </div>
    </div>

}


<!-- Modal Verify Db -->
<div class="modal fade" id="verifyDbModal" tabindex="-1" role="dialog" aria-labelledby="verifyDbModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="verifyDbModalLabel">
                    Er du sikker?
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                Ønsker du å verifisere databasen? Det som da skjer er at vi kontakter chatboten og henter alle spørsmål og svar par som er i bruk.
                Disse matches så mot det som er lagret i lokal database. De parrene som mangler legges så til.
                Denne funksjonen finnes grunnet det kan legges til par gjennom QnAMaker.ai sin side også.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                @Html.ActionLink("Verifiser kunnskapsbase", "VerifyLocalKnowledgeBaseToOnlineKnowledgeBase", "Administrator", new { id = Model.QnAKnowledgeBaseId }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>








@section Scripts{
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}