@model Bachelor_Gr4_Chatbot_MVC.Models.QnAViewModels.QnAPairsView

@{
    ViewData["Title"] = "ViewPublishedQnAPairs";
}

<div id="wrapper">
    @await Html.PartialAsync("_Navbar_admin")

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <h2>QnA par for kunnskapsbase @Model.QnAKnowledgeBaseName</h2>
                <h4>Alle publiserte QnA par</h4>
            </div>
            <hr />

            @if (Model.QnAPairs.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Query
                                @*@Html.DisplayNameFor(model => model.Query)*@
                            </th>
                            <th>
                                Answer
                                @*@Html.DisplayNameFor(model => model.Answer)*@
                            </th>
                            <th>
                                Trained
                                @*@Html.DisplayNameFor(model => model.Trained)*@
                            </th>
                            <th>
                                Published
                                @*@Html.DisplayNameFor(model => model.Published)*@
                            </th>
                            <th>
                                PublishedDate
                                @*@Html.DisplayNameFor(model => model.PublishedDate)*@
                            </th>
                            <th>
                                TrainedDate
                                @*@Html.DisplayNameFor(model => QnAPairs.TrainedDate)*@
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QnAPairs)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Query)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trained)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Published)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PublishedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrainedDate)
                                </td>
                                <td>
                                    @Html.ActionLink("Slett", "DeleteQnAPair", new { id = item.QnAPairsId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <div class="col-md-12">
                    <p>Ingenting å vise. Om du mener at det skal finnes QnA par for denne kunnskapsbasen, trykk @Html.ActionLink("her", "VerifyLocalKnowledgeBaseToOnlineKnowledgeBase", new { id = Model.QnAKnowledgeBaseId }) for å verifisere database.</p>
                </div>

            }
        </div>
    </div>
</div>

@section Scripts{

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>

}